* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(78, 76, 76);
  --primary-color2: #fff;
  --primary-shadow: #a17a69;
  --text-color1: #fff;
  --text-color: #ffb400;
  --secondary-text--color: whitesmoke;
  --bg-color-button: #ffb400;
  --primary-font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --secondary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* background: linear-gradient(to top left,yellow 15%,blue); */
  margin: 0;
  background-color: #eafbff;
  background-image: linear-gradient(
    74deg,
    #ffb400 0%,
    #ffb400 25%,
    black 25%,
    black 100%
  );
  height: 100vh;
}
.header {
  position: fixed;
  right: 0;
  z-index: 100;
}

.nav {
  display: flex;
  list-style: none;
}
.navOpt {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  background: #ffb400;
  transition: all 0.8s;
}
.navOpt a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: all 0.5s ease;
  width: 35px;
}
.op {
  opacity: 0;
  transition: all 0.8s ease;
}
.navOpt a h2 {
  display: none;
  margin: 0;
  padding-left: 8px;
  transition: all 0.8s ease;
}

.navOpt a img {
  width: 35px;
  height: 35px;
}
.navOpt:hover a {
  width: 138px;
}
.navOpt:hover a h2 {
  display: block;
}
.navOpt:hover .op {
  opacity: 1;
}
.navOpt:hover {
  border-radius: 11px;
}

.container {
  display: flex;
  margin: 10px auto;
  padding: 10px;
}

.imgContainer {
  display: flex;
  height: 100vh;
  width: 50vw;
  align-items: center;
}
.imgContainer img {
  width: 30vw;
  height: auto;
  border-radius: 15px;
  margin-left: 2vw;
  box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.589);
}

.informationContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.informationContainer h6 {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: uppercase;
}
.informationContainer h1 {
  color: #ffb400;
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.informationContainer h1 span {
  color: white;
}

.informationContainer p {
  color: whitesmoke;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-right: 10px;
  /* text-transform: capitalize; */
}
.informationContainer a {
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #ffb400;
  width: 185px;
  font-weight: 600;
  font-family: sans-serif;
  padding: 11px 15px;
  border-radius: 25px;
  margin-top: 20px;
}
.informationContainer a img {
  width: 22px;
  padding: 2px;
  /* transform: translateX(-24px),translateY(2.2px); */
  transform: translate(-24px, 0px);
  transition: all 0.5s ease;
  opacity: 0;
}
.informationContainer a span {
  transform: translateX(13px);
  transition: all 0.5s ease;
}

.informationContainer a:hover img {
  transform: translate(4px, 0px);
  opacity: 1;
}
.informationContainer a:hover span {
  transform: translateX(0);
}

@media screen and (max-width: 563px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .imgContainer {
    height: auto;
    width: 100vw;
    justify-content: center;
    margin-top: 100px;
  }
  .imgContainer img {
    border: 3px solid rgb(65, 65, 65);
    border-radius: 50%;
  }
  .informationContainer {
    width: 100vw;
    margin-top: 18px;
    text-align: center;
    align-items: center;
  }
  .informationContainer p {
    padding: 8px;
  }
}

/* About section starts */
.about-container {
  width: 60%;
  height: 380px;
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: 2px 2px 12px var(--primary-shadow);
  display: flex;
  margin: 1% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.about-container:hover {
  transform: scale(1.1);
  translate: all 0.3s;
}
.about-container img {
  height: 250px;
  margin-right: 30px;
  margin-left: 10px;
}
.about-text {
  width: 550px;

}
.about-text span {
  color: var(--text-color1);
}
.about-text p:nth-child(1) {
  color: var(--text-color);
  font-weight: bold;
  font-size: 39px;
  line-height: 40px;
  font-family: var(--primary-font-family);
}
.about-text p:nth-child(2) {
  color: var(--secondary-text--color);
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  font-family: var(--secondary-font-family);
}
.about-text p:nth-child(3),
.about-text p:nth-child(4) {
  color: var(--secondary-text--color);
  font-size: 16px;
}
.about-text button {
  width: 120px;
  height: 35px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: var(--bg-color-button);
  margin: 21px 4px;
  border-radius: 10px;
  font-family: var(--secondary-font-family);
  transition: transform 0.3s;
}
.about-text button:hover {
  cursor: pointer;
  transform: translateY(5px);
}

/* About section ends */

/* Project Styling starts */
.projects {
  /* background-color: rgb(214, 214, 214); */
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 1.9rem;
}
.projects-title span {
  color: var(--text-color1);
}
.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 0.5rem;
  font-family: var(--secondary-font-family);
  color: var(--secondary-text--color);
}

.project-details {
  margin-bottom: 0.5rem;
}

.project-card {
  background-color: #000;
  box-shadow: 0 3px 10px #8b8eaf;
  padding: 20px;
  margin: 10px;
  width: 320px;
  height: 400px;
  border-radius: 15px;
  color: var(--text-color1);
}
.project-card:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #e2d62e 55%, #e4d6eb);
  transition: 0.5s;
}
.project-card:hover .project-title,
.project-card:hover .project-details {
  color: #fff;
}
.project-link {
  text-decoration: none;
  color: black;
  border-radius: 18px;
  padding: 6px;
  outline: none;
  width: 50%;
  margin: 10px 0;
  background-color: var(--bg-color-button);
  font-size: 1rem;
  font-family: var(--secondary-font-family);
  font-weight: var(--bold-font);
  transition: var(--transition);
}
/* Projects styling ends */

/* My skills styling starts */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 30px;
}
.skill-header span {
  color: var(--text-color1);
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #000;
  border-radius: 11px;
  box-shadow: 0 5px 10px #a17a69;
  padding: 20px;
  margin: 10px;
}
.icon-card:hover {
  transform: scale(1.1);
  translate: all 0.5s;
}

/* My skills ends */

/* Contact us starts */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 30px;
}
.contact h2 span {
  color: var(--text-color1);
}


/* Social fixed buttons */

/* .socicon {
  width: 10rem;
  height: 10rem;
  padding: 1px;
} */
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials img {
  border-radius: 50%;
}
.socicon {
  width: 20vw;
  margin: 10px;
}
/* Social fixed ends */

@media screen and (max-width: 720px) {
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }
  .contact-form-container {
    max-width: 23.75rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 700px;
  }
  .about-container img {
    height: 200px;
  }
  .about-text {
    width: 300px;
  }
}

@media screen and (max-width: 420px) {
  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .about-container img {
    height: 150px;
  }
  .about-text {
    width: 200px;
  }
}
